body{
    margin: 0;
    padding: 0;
}
.box1 {
    width: 366px;
    height: 420px;
    background-color: #FAF4EF;
    border-radius: 0px 0px 0px 50px ;
    margin-left: 537px;
    margin-top: 270px;
}
.satauri {
    padding-left: 46px;
    padding-top: 43px;
    width: 289.48px;
    height: 54px;
    font-weight: 400px;
    font-size: 36px;
    color: #4B4B4B;
}
.p1 {
    color: #737373;
    width: 177.99px;
    height: 41px;
    font-weight: 400px;
    font-size: 24px;
    padding-left: 46.11px;
    margin-top: -30px;
}
.chair {
margin-left: 570px;
margin-top: -240px;
}